<header class="header">
  <div class="logo">
    <img src="https://www.pngitem.com/pimgs/m/263-2636214_sports-logo-png-transparent-sports-png-download.png" alt="Ecommerce Logo">
  </div>
  <nav class="nav-menu">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products-list">Products</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/login">login</a></li>
      <li><a routerLink="/register">register</a></li>
      <!-- Add more navigation links as needed -->
    </ul>
  </nav>
</header>
