<div class="container">
    <section class="hero-section">
      <h1>Welcome to SportS</h1>
      <p>Gear up for victory with our unbeatable selection<br> of athletic essentials - your winning edge awaits!</p>
    </section>
  
    <section class="news-section">
      <h2>Latest News</h2>
      <div class="news-items">
        <div class="news-item">
          <img src="https://static.wixstatic.com/media/1ad4dc_b723e870d8654e76afb8b2ef8518f909~mv2.png/v1/fill/w_492,h_260,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/small%20for%20labels.png" alt="News 1">
          <h3 class="news-title">Exciting Announcement!</h3>
          <p class="news-description">Prepare to be thrilled as we unveil our latest offering, a game-changing addition that will redefine your shopping experience. Stay tuned for an announcement that promises excitement, innovation, and unparalleled value!</p>
        </div>
        <div class="news-item">
          <img src="https://cdn.nba.com/manage/2022/01/image1-1-e1643120983945.png" alt="News 2">
          <h3 class="news-title">New Product Launch</h3>
          <p class="news-description">Step into the future of performance with our groundbreaking new shoe collection. Engineered for excellence and crafted with precision, our latest lineup promises unrivaled comfort, style, and durability. </p>
        </div>
        <div class="news-item">
            <img src="https://static.hsnb.io/thumbor/oVoIcZSr6VAJAV7Bxnw93IbFix4=/1200x800/https://whatdropsnow.s3.amazonaws.com/cache/b6291067a0f4a5144275651ca3739fb9.jpg" alt="News 2">
            <h3 class="news-title">New Product Launch</h3>
            <p class="news-description">Introducing our newest shoe collection, meticulously designed to propel you forward with every step. Engineered for peak performance and crafted with premium materials, these shoes blend cutting-edge technology with timeless style. </p>
          </div>
          <div class="news-item">
            <img src="https://www.shoepalace.com/cdn/shop/products/4a26048c51bab8d8b88e62549d8aa72c_2048x2048.jpg?v=1694025712&title=nike-bv2654-657-sportswear-club-fleece-pullover-mens-hoodie-red-white" alt="News 2">
            <h3 class="news-title">New Product Launch</h3>
            <p class="news-description">Unveiling our latest sweatshirt collection – where comfort meets style in every stitch. Elevate your wardrobe with cozy essentials designed for maximum warmth and effortless cool. </p>
          </div>
        <!-- Add more news items as needed -->
      </div>
    </section>
  </div>
  
